@model Common.Models.PatientDetailsModel


<div class="row">
    <div class="col-md-4">
        <label>Diseases:</label>
    </div>
    <div class="col-md-8">
        <label>@Model.Disease</label>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <label>Epilepsy:</label>
    </div>
    <div class="col-md-8">

        @if (@Model.Epilepsy)
        {
            <label>Yes</label>
        }
        else
        {
            <label>No</label>
        }

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <label>OthersNCDs:</label>
    </div>
    <div class="col-md-8">

        <ol>
            @foreach (var item in Model.OthersNCDs)
            {
                <li>@item.Name</li>
            }
        </ol>

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <label>Allergies:</label>
    </div>
    <div class="col-md-8">

        <ol>
            @foreach (var item in Model.Allergies)
            {
                <li>@item.Name</li>
            }
        </ol>

    </div>
</div>