@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active"
                id="ncd-tab" data-bs-toggle="tab"
                data-bs-target="#ncd" type="button" role="tab"
                aria-controls="ncd" aria-selected="true">
            NCD
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="allergies-tab"
                data-bs-toggle="tab" data-bs-target="#allergies"
                type="button" role="tab" aria-controls="allergies"
                aria-selected="false">
            Allergies
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link"
                id="patients-tab" data-bs-toggle="tab" data-bs-target="#patients"
                type="button" role="tab" aria-controls="patients"
                aria-selected="false">
            Patients
        </button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="ncd" role="tabpanel" aria-labelledby="ncd-tab">
        @await Html.PartialAsync("_Ncd")
    </div>
    <div class="tab-pane fade" id="allergies" role="tabpanel" aria-labelledby="allergies-tab">
        @await Html.PartialAsync("_Allergies")
    </div>
    <div class="tab-pane fade" id="patients" role="tabpanel" aria-labelledby="patients-tab">...</div>
</div>