@{
    ViewData["Title"] = "Patient Entry";
}

<div class="text-center">
    <a href="/">
        <button type="button"
                data-id="0"
                style="float: left"
                class="btn btn-success">
            Back
        </button>
    </a>
    <h1 class="display-4">Patient Entry</h1>
</div>

<div class="row mt-3">
    <div class="col-md-3">
        <label style="float: right">Patient Name <span style="color: red">*</span></label>
    </div>
    <div class="col-md-9" style="float: right">
        <input type="text"
               id="patientName"
               class="form-control" />
        <input type="hidden"
               id="patientId"
               value="123"
               class="form-control" />
    </div>
</div>

<div class="row mt-2">
    <div class="col-md-3">
        <label style="float: right">Diseases Name <span style="color: red">*</span></label>
    </div>
    <div class="col-md-9">
        <select class="form-control"
                id="diseaseInformationID">
            <option value="1">DsI1</option>
            <option value="2">DsI2</option>
        </select>
    </div>
</div>

<div class="row mt-2">
    <div class="col-md-3">
        <label style="float: right">Epilepsy <span style="color: red">*</span></label>
    </div>
    <div class="col-md-9">
        <select class="form-control"
                id="epilepsy">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
    </div>
</div>

<div class="row mt-2">
    <div class="col-md-3">
        <label style="float: right">Others NCDs <span style="color: red">*</span></label>
    </div>
    <div class="col-md-9">
        <div class="row">

            <div class="col-md-5">
                <select class="form-select"
                        id="dpNcds"
                        multiple
                        size="3" aria-label="size 3 select example"
                        style="height: 200px;">
                    <option selected value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

            <div class="col-md-2 text-center">
                <button class="btn btn-primary mt-5"
                        id="btnAddncds">
                    Add >
                </button>
                <button class="btn btn-warning mt-3"
                        id="btnRemovencds">
                    < Remove
                </button>

            </div>

            <div class="col-md-5">
                <select class="form-select"
                        id="dpNcdsSelected"
                        multiple
                        size="3" aria-label="size 3 select example"
                        style="height: 200px;">
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-md-3">
        <label style="float: right">Allergies <span style="color: red">*</span></label>
    </div>
    <div class="col-md-9">
        <div class="row">

            <div class="col-md-5">
                <select class="form-select"
                        id="dpAllergies"
                        multiple
                        size="3" aria-label="size 3 select example"
                        style="height: 200px;">
                    <option selected value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

            <div class="col-md-2 text-center">
                <button class="btn btn-primary mt-5"
                        id="btnAddAllergies">
                    Add >
                </button>
                <button class="btn btn-warning mt-3"
                        id="btnRemoveAllergies">
                    < Remove
                </button>

            </div>

            <div class="col-md-5">
                <select class="form-select"
                        id="dpAllergiesSelected"
                        multiple
                        size="3" aria-label="size 3 select example"
                        style="height: 200px;">
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
        <div class="row">

            <div class="col-md-5 text-center">
            </div>
            <div class="col-md-2 text-center">
                <button class="btn btn-primary"
                        id="savePatient">
                    Save
                </button>
                <br />
                <div id="savePatientResult"></div>
            </div>

            <div class="col-md-5 text-center">
            </div>

        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script>

    $(document).on("click", "#btnAddncds", function (e) {

        const dpNcds = Array.from(document.getElementById('dpNcds').selectedOptions);

        for (var i1 = 0; i1 < dpNcds.length; i1++) {

            const dpNcdsSelected = Array.from(document.getElementById('dpNcdsSelected'));

            var av = false;

            dpNcdsSelected.map((option2) => {

                if (dpNcds[i1].value == option2.value) {

                    av = true;

                }

            });

            if (av == false) {

                var opt = "" +
                    "<option value=" + dpNcds[i1].value + ">" + dpNcds[i1].innerText + "</option>";

                $("#dpNcdsSelected").append(opt);

            }
        }

    });

    $(document).on("click", "#btnRemovencds", function (e) {

        const selectElement = document.getElementById('dpNcdsSelected');
        const selectedOptions = Array.from(selectElement.selectedOptions);

        // Remove the selected options
        selectedOptions.forEach(option => {
            selectElement.removeChild(option);
        });

    });


    $(document).on("click", "#btnAddAllergies", function (e) {

        const dpNcds = Array.from(document.getElementById('dpAllergies').selectedOptions);

        for (var i1 = 0; i1 < dpNcds.length; i1++) {

            const dpAllergiesSelected = Array.from(document.getElementById('dpAllergiesSelected'));

            var av = false;

            dpAllergiesSelected.map((option2) => {

                if (dpNcds[i1].value == option2.value) {

                    av = true;

                }

            });

            if (av == false) {

                var opt = "" +
                    "<option value=" + dpNcds[i1].value + ">" + dpNcds[i1].innerText + "</option>";

                $("#dpAllergiesSelected").append(opt);

            }
        }

    });

    $(document).on("click", "#btnRemoveAllergies", function (e) {

        const selectElement = document.getElementById('dpAllergiesSelected');
        const selectedOptions = Array.from(selectElement.selectedOptions);

        // Remove the selected options
        selectedOptions.forEach(option => {
            selectElement.removeChild(option);
        });

    });

    $(document).on("click", "#savePatient", function (e) {

        var OthersNCDs = [];
        const dpNcdsSelected = Array.from(document.getElementById('dpNcdsSelected'));

        dpNcdsSelected.map((option2) => {

            OthersNCDs.push(option2.value);

        });

        var Allergies = [];
        const dpAllergiesSelected = Array.from(document.getElementById('dpAllergiesSelected'));

        var av = false;

        dpAllergiesSelected.map((option2) => {

            Allergies.push(option2.value);

        });

        var data = {
            ID: $("#patientId").val(),
            PatientName: $("#patientName").val(),
            DiseaseInformationID: $("#diseaseInformationID").val(),
            Epilepsy: $("#epilepsy").val() == "1" ? true : false,
            OthersNCDs: OthersNCDs,
            Allergies: Allergies,
        }


        $.ajax({
            url: '@Url.Action("PatientSave", "Home")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (res) {

                if (res.error == "") {

                    window.location = "/";

                } else {

                    $('#savePatientResult').html(res.error);

                }

            },
            error: function (xhr, status, error) {
                $('#savePatientResult').html('<p>An error occurred: ' + error + '</p>');
            }
        });

    });

</script>