<div class="row mt-3">

    <div class="col-md-3">

        <input type="text"
               id="newNcd"
               class="form-control" placeholder="NCD Name" />

    </div>

    <div class="col-md-1">

        <button type="button"
                id="saveNcd"
                data-id="0"
                class="btn btn-success disabled">
            Save
        </button>


    </div>

    <div class="col-md-4">
        <div id="result"></div>
    </div>

</div>

<div class="row  mt-2">

    <div class="col-md-12">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody id="ncdList">
            </tbody>
        </table>

    </div>

</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    $(document).ready(function (e) {


        NcdLoad();

    });


    $(document).on("keyup", "#newNcd", function (e) {

        $('#result').html("");

        if ($(this).val().trim() == "") {

            $("#saveNcd").addClass("disabled");

        } else {

            $("#saveNcd").removeClass("disabled");
        }

    });



    $(document).on("click", "#saveNcd", function (e) {

        var id = 0;

        if ($(this).text() == "Update") {

            id = $(this).attr("data-id");

        }

        var data = {
            ID: id,
            Name: $("#newNcd").val()
        }


        $.ajax({
            url: '@Url.Action("NcdSave", "Home")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (res) {

                if (res.error == "") {

                    $('#result').html(res.message);
                    $("#saveNcd").text("Save");
                    NcdLoad();

                } else {

                    $('#result').html(res.error);

                }

            },
            error: function (xhr, status, error) {
                $('#result').html('<p>An error occurred: ' + error + '</p>');
            }
        });

    });

    $(document).on("click", ".ncdListEdit", function (e) {

        var data = $(this).parents("tr");

        var id = data.attr("data-id");
        var name = data.attr("data-name");

        $("#saveNcd").attr("data-id", id);
        $("#newNcd").val(name);

        $("#saveNcd").removeClass("disabled");
        $("#saveNcd").text("Update");
        $("#result").html("");
    });

    $(document).on("click", ".ncdListDelete", function (e) {

        var parent = $(this).parents("tr");
        var id = parent.attr("data-id");
        parent.remove();

        debugger;

        $.ajax({
            url: 'Home/Delete/' + id,
            type: 'POST',
            contentType: 'application/json',
            success: function (res) {

                if (res.error == "") {

                    $("#saveNcd").text("Save");
                    $('#result').html(res.message);


                } else {

                    $('#result').html(res.error);

                }

            },
            error: function (xhr, status, error) {
                $('#result').html('<p>An error occurred: ' + error + '</p>');
            }
        });





    });

    function NcdLoad() {

        $.ajax({
            url: '@Url.Action("NcdList", "Partial")',
            type: 'GET',
            dataType: 'html',
            success: function (res) {

                $("#ncdList").html(res);

            },
            error: function (xhr, status, error) {
                $('#result').html('<p>An error occurred: ' + error + '</p>');
            }
        });

    }

</script>
