<link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />

<div class="row mt-3">

    <div class="col-md-6">
    </div>


    <div class="col-md-6">
        <a href="/Home/PatientEntry">
            <button type="button"
                    data-id="0"
                    style="float: right"
                    class="btn btn-success">
                Patient Entry
            </button>
        </a>

    </div>

</div>

<div class="row  mt-2">

    <div class="col-md-12"
         style="height: 250px; overflow-y: scroll">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="text-center">Patient ID</th>
                    <th scope="col">Patient Name</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody id="patientList">
            </tbody>
        </table>

        <div class="patientListLoader">
            <div style="text-align: center">
                <img src="~/assets/images/loader.gif" />
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="patientListDetailsModal" tabindex="-1"
     aria-labelledby="patientListDetailsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Patient Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body patientDetails">
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    $(document).ready(function (e) {


        PatientLoad();

    });



    $(document).on("click", ".patientListDetails", function (e) {

        LoaderOneShow(".patientDetails");

        var parent = $(this).parents("tr");
        var id = parent.attr("data-id");

        $.ajax({
            url: 'Partial/PatientsDetails/' + id,
            type: 'GET',
            dataType: 'html',
            success: function (res) {
                LoaderOneHide(".patientDetails");
                $(".patientDetails").html(res);

            },
            error: function (xhr, status, error) {
               
            }
        });





    });

    function PatientLoad() {

        LoaderOneShow(".patientListLoader");

        $.ajax({
            url: '@Url.Action("PatientList", "Partial")',
            type: 'GET',
            dataType: 'html',
            success: function (res) {

                LoaderOneHide(".patientListLoader");
                $("#patientList").html(res);

            },
            error: function (xhr, status, error) {


            }
        });

    }

</script>
